# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/settings.json
src/img/bg.jpg
src/img/bg2.jpg
src/img/bg3.jpg
src/img/bg4.png
src/img/bg5.png
src/img/homebg.png
src/img/pexels-pixabay-39856.jpg
references/blindvalet/1.jpg
references/blindvalet/1b.jpg
references/blindvalet/1c.jpg
references/blindvalet/1d.jpg
references/blindvalet/4.jpg
references/blindvalet/5.jpg
references/blindvalet/7.jpg
references/ef76e401fb.png
references/ef941f39e9.png
references/list.png
references/Tournament Setting/2.jpg
references/Tournament Setting/23549bb9a5.jpg
references/Tournament Setting/3.jpg
references/Tournament Setting/6.jpg
references/Tournament Setting/8.jpg
references/Tournament Setting/board.png
references/Tournament Setting/pokerstars-home-games.jpg
references/Tournament Setting/TTD1.png
references/Tournament Setting/TTD2.png
references/Tournament Setting/TTD3.png
references/Tournament Setting/TTD4.png
