@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Karla&family=Titillium+Web:wght@600&display=swap");
body {
  min-width: 350px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
  font-family: "Karla", sans-serif !important;

  min-height: 100vh;

  background: rgb(157, 10, 10);
  background: radial-gradient(circle, rgb(37, 36, 36) 0%, rgb(24, 23, 23) 100%);
  color: #fff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  min-width: 100wh;
  display: block;
  position: relative;
}

.App::after {
  content: "";
  background: url("./img/texture.jpg");
  background-attachment: fixed;
  background-position: top right;
  background-repeat: repeat;
  opacity: 0.12;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.home-title h1,
h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 5rem;
  text-transform: capitalize !important;
}
.home-img {
  background-image: url("./img/bg5.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.nav-item {
  font-family: "Titillium Web", sans-serif;
  background-color: #332f2f;
  width: 25%;
}

.nav-tabs > nav-link.active {
  background-color: #1f1f1f !important;
  border: 1px solid #000000;
}
.nav-item button {
  width: 100%;
  color: #ebebeb;
}

.tab-content > .active {
  min-height: 80vh;
  position: relative;
  padding: 3rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.tab-content > .active ::after {
  content: "";

  background: radial-gradient(
    circle,
    rgba(40, 91, 198, 1) 0%,
    rgba(8, 40, 77, 0.418) 100%
  );

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.modal-content {
  color: #000;
}
/* .tab-content {
  background-color: #fff;
} */
.clock {
  /* border: 1px solid black; */

  /* text-align: center; */
  padding: 1rem 0px;
}
.clock div > h1 {
  font-size: 6rem;
}

.clock div > p {
  margin-block-end: 0px;
  /* font-size: 1.2rem; */
}
.controls svg {
  margin: 0px 20px;
}

.dropdown-toggle::after {
  display: none !important;
}

.alert p {
  margin-block-end: 0px;
}

@media only screen and (max-width: 650px) {
  .small-screen {
    display: none;
  }
}
